# MongoDB Connection (usar credenciales en Docker)
MONGO_URI=mongodb://usuario:password@mongo-pagos:27017
MONGO_DB=smart_ride_pagos
MONGO_COL=pagos

# Server Configuration
SERVER_PORT=4000

# Rust Environment
RUST_LOG=debug